@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: auto;
    padding: 0;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9FBFD;
}
iframe{
    border: 0;
    margin: auto;
    width: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
ul{
    padding-bottom: 5px;
}
li:hover{
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px#000 solid;
}
.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.form{
    width: 70%;
}
.officers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: max-content;
    padding: 20px;
    border: rgb(205, 205, 205) solid 2px;
    border-radius: 5px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .officers{
        margin: 10px;
    }
}